<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Search results for</h1>
  <p class="lead">
   <div ng-init="q='radish'">
        <p>
          <label for="q">Ingredient:
            <input type="text" name="q" ng-model="q">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshSearch()">Get Recipes</button>
        </p>      
      <dl ng-repeat="hit in search.hits">
        <dt>Recipe</dt>
        <dd>{{hit.recipe.label}}</dd>
        <dd>{{hit.recipe.image}}</dd>
        <dt>Source</dt>
        <dd>{{hit.recipe.source}}</dd>
        <dd>{{hit.recipe.url}}</dd>
        <dt>Ingredients</dt>
        <dd>{{hit.recipe.ingredientLines}}</dd>
        <dd>{{hit.recipe.ingredient}}</dd>
        <dt>Calories</dt>
        <dd>{{hit.recipe.calories}}</dd>
        <dt>Fat</dt>
        <dd>{{hit.recipe.totalNutrients.FAT.quantity}} {{hit.recipe.totalNutrients.FAT.unit}}</dd>
        <dd>{{hit.recipe.dietLabels}}</dd>
      </dl>
    </div>
  </p>
</div>
