<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Eat Your Greens</h1>
  <p class="lead">
    
   <div ng-init="q='radish'">
     <p id="intro">Satisfy your cravings and green up your diet with plant-based recipes.</p>
         <p><label for="q">Enter Ingredient:
            <input type="text" name="q" ng-model="q" aria-describedby="enter-ingredient">
          </label>
        </p>
        <p>
          <button id="get" class="btn btn-lg btn-success" ng-click="refreshSearch()">Get Recipes</button>
        </p>
  </div>
  
   <div id="hits">
      <dl ng-repeat="hit in search.hits">
        <div id="title" class="row">
          <div class="col-md-12">          
            <dt id="label">{{hit.recipe.label}}</dt>
          </div>
        </div>
        
       <div class="row">
         
         <div class="col-xs-6">                
         <dd id="image"><img class="img-responsive" alt="recipe image" ng-src="{{hit.recipe.image}}"</dd>
         </div>
        
         <div id="ingredients" class="col-xs-6">
           <dt>Ingredients</dt>
           <dd ng-repeat="ingredient in hit.recipe.ingredientLines">{{ingredient}}</dd>
           <dd id="calories"><strong>Calories:</strong> {{hit.recipe.calories | limitTo: 6}}</dd>
           <dd id="fat"><strong>Fat:</strong> {{hit.recipe.totalNutrients.FAT.quantity | limitTo: 4}} {{hit.recipe.totalNutrients.FAT.unit}}</dd>
           <dd id="diet" ng-repeat="diet in hit.recipe.dietLabels">{{diet}} </dd>        
         </div>
         
       </div>
        <div id="viewbtn" class="row">
          <div class="col-md-12">
            <dd><a ng-href="{{hit.recipe.url}}" target="_blank" class="btn btn-default btn-sm btn-block">View on {{hit.recipe.source}}</a></dd>
          </div>
        </div>
      </dl>
    </div>
  </p>
</div>

