<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Eat Your Greens</h1>
  <p class="lead">
   <div ng-init="q='radish'">
        <p>Satisfy your cravings and green up your diet<br />with plant-based recipes.</p>
         <p><label for="q">Ingredient:
            <input type="text" name="q" ng-model="q">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-success" ng-click="refreshSearch()">Get Recipes</button>
        </p>
  </div>
  
  <!-- TODO: Style text, buttons, recipe box, imgs. -->
  
   <div>
      <dl ng-repeat="hit in search.hits">
       <div class="row">
         <div class="col-xs-6">                
         <!-- <dt>Recipe</dt> -->
        <dt id="title">{{hit.recipe.label}}</dt>
        <dd><img class="img-responsive" ng-src="{{hit.recipe.image}}"</dd>
         </div>
        
         <div class="col-xs-6">
        <dt>Ingredients</dt>
        <dd ng-repeat="ingredient in hit.recipe.ingredientLines">{{ingredient}}</dd>
        <dt>Calories</dt>
        <dd>{{hit.recipe.calories | limitTo: 6}}</dd>
        <dt>Fat</dt>
        <dd>{{hit.recipe.totalNutrients.FAT.quantity | limitTo: 4}} {{hit.recipe.totalNutrients.FAT.unit}}</dd>
        <dd ng-repeat="diet in hit.recipe.dietLabels">{{diet}}</dd>        
        <!-- <dd><a ng-href="{{hit.recipe.url}}" target="_blank" class="btn btn-default btn-sm btn-block">View on {{hit.recipe.source}}</a></dd> -->
         </div>
       </div>
        <div class="row">
          <div class="col-md-12">
            <dd><a ng-href="{{hit.recipe.url}}" target="_blank" class="btn btn-default btn-sm btn-block">View on {{hit.recipe.source}}</a></dd>
          </div>
        </div>
     </dl>
    </div>
  </p>
</div>

